
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-left pull-left">
             
              
              <div class="search-box">
              
               <form action="/search" method="get">
                    <input name="search"  class="input-text" placeholder="Search By Products.."/>
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>                    
                </form>     
               
              </div>
            
          </div>
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">
              <ul class="list-inline">
                
                <%if user_signed_in?%>

                  <%=link_to "My Account" , myaccount_path%>
                  <li><%= button_to "logout", destroy_user_session_path, method: :delete  %> </li>
                              
                <%else%>

                  <li><%= link_to "Register",  new_user_registration_path %></li>
                  <%=link_to "Login" , new_user_session_path%>

                <% end %>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-inner">
      <div class="col-sm-4 col-xs-6 header-left">
        <div class="shipping">
          <div class="shipping-img"></div>
          <div class="shipping-text">(+91) 000-1233<br>
            <span class="shipping-detail">24/7 Online Support</span></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-middle">
        <div class="header-middle-top">
          <div id="logo"> <a href="/"> <%= image_tag "/assets/logo.png",  class: "img-responsive" %></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">
          <a href="/cart_items/" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button "> <span id="cart-total"><span class="cart-title color-dark-brown">Shopping Cart</span><p><i class="fa fa-shopping-cart color-dark-brown" style="font-size:36px;margin-left:40px"></i></p></p></a>
          
               
        </div>
      </div>
    </div>
   
  </div>
</header>