 
 <div class="container">
 <!--Grid row-->
   <ul class="breadcrumb">
    <li><a>My Cart</a> </li>
    </ul>

    <% @list.each do |item| %>
        <%= render partial: "cart_items/item", locals: {item: item} %>
    <% end%>

  <%= form_tag url_for(:controller => 'cart_items', :action => 'apply_coupon' ), remote: :true, method: :get  do |f| %>
    <div id="message_div"> </div>
    <div class="row coupons">
      <div class="col-lg-2">
        Apply Coupon:
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" name="coupon" placeholder="coupon / promo code" required>
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-primary btn-sm"> Apply </button>
      </div>
    </div>
  <%end%>

<%= form_for :order , url:orders_path() do |f| %>

    <% @list.each do |item| %>
        <%= hidden_field_tag 'ids[]', item.id %>
    <% end%>
    <div class="row price_show">
      <div class="col-lg-10">
        <strong > Total Price : </strong>
      </div>
      <div class="col-lg-2">
        <input type="hidden" name="total_price" id="total_price_input_box" value="<%=@total%>%">
        <span id="total_price_span"><%=@total%> </span> Rs.
      </div>

      <div class="col-lg-10">
        <strong > Discount : </strong>
      </div>
      <div class="col-lg-2">
        <input type="hidden" name="discount" id="discount_input_box" value="0">
        <span id="discount_span">0</span> %
      </div>

      <div class="col-lg-10 color_red">
        <strong > Payable Price After Discount : </strong>
      </div>
      <div class="col-lg-2 color_red">
        <input type="hidden" name="payable_amount" id="payable_amount_input_box" value="<%=@total%>">
        <span id="payable_amount_span"><%=@total%></span> Rs.
      </div>
    </div>

    

    <div class="row ">
      <div class="col-lg-6 price_show">

        <div class="row">
          <div class="col-lg-4">
            Credit Card Number
          </div>
          <div class="col-lg-8">
            <input type="text" name="card_no" required>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            Security Code Number on Card:
          </div>
          <div class="col-lg-8">
            <input type="text" name="security_no" required>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 ">
        <button type="submit" class="btn btn-primary"> Checkout </button>
      </div>
    </div>
  </div>
  <%end%>