


<div class="product-layout product-list col-lg-3 fixed-height" id="single_product_<%=product.id%>" >
          <div class="product-thumb">
            <div class="image product-imageblock"> <a href="products/<%=product.id%>"><%= image_tag url_for(product.images[0]), style: "height:200px;width:250px" ,title: product.name,  class: "img-responsive" %> </a>
              
            </div>
            <div class="caption product-detail">
              
             <p class="title product-price"><span class="price"> <%= product.name%>  </span></p>
             <p class=" product-price"><span class="">Price : $/<%= product.price%>  </span></p>
            </div>
            <div class="row button-group">
                <div class="col-sm-6">
                    <%= link_to "Edit", edit_product_path(product.id) ,class: "addtocart-btn"%>
                </div>
                <div class="col-sm-6">
                     <%= button_to "delete", { controller: 'products', action: 'destroy', id: product.id }, method: :delete, remote: :true , class: "addtocart-btn" %> 
                </div>
            </div>
          
           </div>
</div>