<div class="container">
  
    <div class="row">
        
        <div class="col-sm-9" id="content">
            <h1>Edit Product</h1>
            
            <%= form_for @product , method: :patch do |f| %>
            <%= render partial: "shared/error_partial", locals: {object: @product} %>
                <fieldset id="account">
                    
                    <div class="form-group ">   
                    <div class="row">     
                        <div class="col-sm-3">
                            <%= f.label :name, class: "col-sm-2 control-label" %><br />
                        </div>      
                        <div class="col-sm-9">
                            <%= f.text_field :name ,class:"form-control", placeholder: "Name" %>
                        </div>
                    </div>
                    </div>
                   
                    <div class="form-group ">    
                    <div class="row">                     
                        <div class="col-sm-3">
                            <%= f.label :description, class: "col-sm-2 control-label" %><br />
                        </div>  
                        <div class="col-sm-9">
                            <%= f.text_area :description,class:"form-control", placeholder: "Description" %>
                        </div>
                    </div>
                    </div>

                   <div class="form-group ">
                   <div class="row">                         
                        <div class="col-sm-3">
                            <%= f.label :price, class: "col-sm-2 control-label" %><br />
                        </div>  
                        <div class="col-sm-9">
                            <%= f.text_field :price ,class:"form-control", placeholder: "Price", type: "number" %>
                        </div>
                    </div>
                    </div>

                    <div class="form-group ">
                   <div class="row">                         
                        <div class="col-sm-3">
                            <%= f.label :quantity, class: "col-sm-2 control-label" %><br />
                        </div>  
                        <div class="col-sm-9">
                            <%= f.text_field :quantity ,class:"form-control", placeholder: "Quantity", type: "number" %>
                        </div>
                    </div>
                    </div>
              
                

                    <div class="form-group ">   
                    <div class="row">     
                        <div class="col-sm-3">
                            <%= f.label :change_images, class: "col-sm-2 control-label" %><br />
                        </div>      
                        <div class="col-sm-9">
                            <%= f.file_field :images ,class:"form-control", multiple: :true%>
                        </div>
                    </div>
                    </div>
                    
                </fieldset>
                
                   
                
                <div class="buttons">
                     
                        <%= f.submit "Edit", :class =>"btn btn-primary" %>
                  
                </div>
            <% end %>
        </div>
    </div>
</div>


<script>
$(document).ready(function() {


  if (window.File && window.FileList && window.FileReader) {
    $("#product_images").on("change", function(e) {
      var files = e.target.files,
        filesLength = files.length;
      for (var i = 0; i < filesLength; i++) {
        var f = files[i]
        var fileReader = new FileReader();
        fileReader.onload = (function(e) {
          var file = e.target;
          $("<span class=\"pip\">" +
            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
            "<br/><span class=\"remove\">Remove image</span>" +
            "</span>").insertAfter("#product_images");
          $(".remove").click(function(){
            $(this).parent(".pip").remove();
            files[i].remove
          });
          
          // Old code here
          /*$("<img></img>", {
            class: "imageThumb",
            src: e.target.result,
            title: file.name + " | Click to remove"
          }).insertAfter("#files").click(function(){$(this).remove();});*/
          
        });
        fileReader.readAsDataURL(f);
      }
    });

    
  } else {
    alert("Your browser doesn't support to File API")
  }


      

});
</script>