<div class="container">
 
  <div class="row">
 
    <div id="content" class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="thumbnails">
              <div class="w3-content w3-display-container">
                <% @product.images.each do |img| %>
                  <div class="w3-display-container mySlides">             
                        <%= image_tag url_for(img), :style => "width:100%; height:500px" %>
                  </div>
                <% end %>
                  <button class="w3-button w3-display-left w3-brown background-color-dark-brown" onclick="plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-display-right w3-brown" onclick="plusDivs(1)">&#10095;</button>

              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="message_div">  </div>
          <h1 class="productpage-title color-dark-brown"><%= @product.name%></h1>
          <hr>
          <ul class="list-unstyled productinfo-details-top">
            
            <li><span class="productinfo-tax color-dark-brown">Price: $<%= @product.price%></span>  
            <hr>
            <li><span class="productinfo-tax color-dark-brown">Available Quantity:  </span> <%= @product.quantity%>
            <hr>
            <li><span class="productinfo-tax color-dark-brown">Serial Number:  </span> <%= @product.serial_number%>
          </ul>
          <hr>
           <input type="hidden" id="availableQuantity" value="<%= @product.quantity%>">

           <%= form_for :item , url:cart_items_path(), remote: :true do |f| %>

            <%= f.text_field :price, type: "hidden", value: @product.price %>
            <%= f.text_field :product_id, type: "hidden", value: @product.id  %>
          
          <div id="product">
            <%if @product.quantity != 0%>
            <div class="form-group">
        
              <div class="btn-group">
              
                <div class="row">
                 
                  <div class="col-sm-2"><button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="Add to Wish List" onClick="minusQuantity(<%=@product.id%>)" >-</button></div>
                  <div class="col-sm-3"> <%= f.text_field :quantity, id: "quantity_"+@product.id.to_s, style: "width:50px", value: "0", readonly: :true %>  </div>
                  <div class="col-sm-1"><button type="button" data-toggle="tooltip" class="btn btn-default wishlist" title="Add to Wish List" onClick="plusQuantity(<%=@product.quantity%>,<%=@product.id%>)">+</button></div>
                </div>
              </div>
              
              <div class="btn-group">
               <div class="row">
                <button type="submit" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block addtocart">Add to Cart</button>
               </div>
              </div>
            </div>
            <%else%>
                <h4 class="color-dark-brown"> Out of stock </h4>
            <%end%>
          </div>
          <%end%>
        </div>
      </div>
        

<div class="row margin-top">
    <div id="content" class="col-sm-12">

            <ul class="breadcrumb">
                <li><a>Description</a></li>
            </ul>

            <div class="tab-content">
            
            <div class="tab-pane active" id="tab-description">
                <div class="cpt_product_description ">
                <div>
                    <p><%= @product.description %></p>
                </div>
                </div>
                
            </div>
            </div>

    </div>
</div>


<div class="row margin-top">

    <div id="content" class="col-sm-12">

            <ul class="breadcrumb">
                <li><a>Reviews</a></li>
            </ul>
            <div id="comments_div">
                
                <% @product.comments.each do |c| %>
                  <%= render partial: "comments/comment_body", locals: {comment: c} %>
                <%end%>
            </div>
            

    </div>
</div>


<div class="row">
    <div id="content" class="col-sm-12">
    
     <ul class="breadcrumb">
                <li><a>Write a Review</a></li>
            </ul>
    <div id="error_div"> </div>
    <% if user_signed_in? %>
        <%= form_for :comment , url:comments_path(), remote: :true, :html => {:id => "comment_form"}  do |f| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div id="review"></div>
              
              
              <div class="form-group required">
                <div class="col-sm-12">
                  <label class="control-label" for="input-review">Your Review</label>
                  <textarea name="body" id="cmnt_body" rows="5" id="input-review" class="form-control"></textarea>
                  
                  <input type="hidden" name="product_id" id="product_id" value=<%= @product.id%>>
                </div>
              
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <button type="submit" id="cmnt_submin" data-loading-text="Loading..." class="btn btn-primary">Comment</button>
              </div>
        
        <%end%>

    <%else%>
      <div class="alert alert-danger" role="alert">
        you must login in order to add comment
      </div>
      

    <%end%>
    </div>


  </div>
  </div>

<script>

 

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
}
</script>
